[flake8]
ignore =
    D100,
    DAR101,
    DAR201,
    DAR301,
    DAR401,
    WPS305,
    WPS333,
    W504,
    WPS226,
    WPS115,
    WPS428,
    WPS338,
    WPS214,
    WPS442,
    WPS432,
    WPS202,
    WPS437,
    S101,
    WPS430,
    WPS400,
    WPS211,
